html{
	margin:0;
	padding:0;
}

body{
	width:100%;
	height:100%;
	background: url(../images/j1.jpg) no-repeat center fixed;
	background-size:1250px;
	background-color:#000;
	font-family: "Segoe UI", "Helvetica", "Arial", bold,Sans-serif;
	font-size: 16px;
	margin: 0;
	
	text-align:center;
}

#wrap{
	width:90%;
	height:90%;
	margin-top:5%;
	margin-bottom:5%;
	margin-left:5%;
	margin-right:5%;
	background-color:rgba(255,255,255,0.8);
	border-radius:20px 20px 20px 20px;
	color:#c90000;
}
#wrap2{
	width:90%;
	height:90%;
	margin-top:5%;
	margin-bottom:5%;
	margin-left:4%;
	margin-right:4%;
	background-color:rgba(255,255,255,0.1);
	border-radius:20px 20px 20px 20px;
	color:#c90000;

}
#contenu1{
    width:450px;
	height:450px;
	margin-top:5%;
	margin-bottom:5%;
	margin-left:2%;
	margin-right:2%;
	border-radius:20px 20px 20px 20px;
	color:#c90000;
	font-family: "Segoe UI", "Helvetica", "Arial", bold,Sans-serif;
	font-size: 20px; 

}
#contenu{
	width:90%;
	height:95%;
	margin-top:5%;
	margin-bottom:5%;
	margin-left:2%;
	margin-right:2%;
	border-radius:20px 20px 20px 20px;
	color:#c90000;
	font-family: "Segoe UI", "Helvetica", "Arial", bold,Sans-serif;
	font-size: 20px;
	
}
#contenu h1{
color:#fff;

}
#contact{
    width:3%;
	height:10%;
    margin-top:40%;
	margin-bottom:40%;
	margin-left:30%;
	margin-right:70%
    border-radius:20px 20px 20px 20px;
}


#titre{
	width:100%;
	height: 50px;
	color:#fff;
	text-align:center;
}

#nom{
	font-size:15px;
	text-align:center;
	position:relative;
    right: -30px;
	color:#fff;
    top: 75%;
}
div#menuTest{ /* Design du menu en lui-même */      
    position:relative;
    
    top: 70%;
}
div#menuTest ul{
    list-style-type:none;
    text-align:center;
    margin:0;
}
div#menuTest li{float:right;}
div#menuTest li { /* Design des liens */
				display:block;
				width:150px; /* Modifier la largeur des liens si nécessaire */
				padding:3px;
				margin-left:5px;
				text-align:center;
				text-decoration:none;				
				font-weight:bold;
				color:#fff;
				background:#4C7787;
				border:1px solid #4C7787;

}

div#menuTest li a:hover { /* Design des liens au survol de la souris */
color:#000;
}
#submenu:hover{ /* Design des liens au survol de la souris */
color:#000;
}
#submenu{ /* Design des liens qui ont un sous-menu*/
    margin-bottom: 3px;
border-radius:8px;
-moz-border-radius:8px;
-webkit-border-radius:8px;
-khtml-border--radius:8px;
-webkit-border-radius:8px;
-khtml-border-radius:8px;

background:#4C7787;
}

#submenu ul li{ /* Design des sous-menu*/
        margin-bottom: 6px;
border-radius:8px;
-moz-border-radius:8px;
-webkit-border-radius:8px;
-khtml-border--radius:8px;
-webkit-border-radius:8px;
-khtml-border-radius:8px;


background:#4C7787;
}
#mo{ /* Design des sous-menu*/
        margin-bottom: 8%;
border-radius:8px;
-moz-border-radius:8px;
-webkit-border-radius:8px;
-khtml-border--radius:8px;
-webkit-border-radius:8px;
-khtml-border-radius:8px;


background:#4C7787;
}

#mo a{
color:#fff;
text-decoration:none;

}

div#menuTest ul li ul li{
display:none;
float:none;
text-align:left;
font-size:0.9em;
}

div#menuTest ul li ul li a{
text-align:left;
}
div#menuTest ul li:hover ul{
position:absolute;

z-index:10;
}
div#menuTest ul li:hover ul li{
display:block;
}
#gallery ul li{
    display:inline-block; /* Modifier la largeur des liens si nécessaire */
    padding:50px;
    margin-left:5px;
    text-align:center;
    text-decoration:none;

}
#article ul li{
     display:inline-block; /* Modifier la largeur des liens si nécessaire */
    padding:auto;
    margin-left:5px;
    text-align:center;
    text-decoration:none;
}
#wrap #gallery li{
   float:start;
}
#gallery{
    position:relative;

    top: 40%;
}

form {
    /* Pour le centrer dans la page */
    margin: 0 auto;
    width: 400px;
    /* Pour voir les limites du formulaire */
    padding: 10%;
    border: 1px solid #CCC;
    border-radius: 1em;
}

label {
    /* Afin de s'assurer que toutes les étiquettes aient la même dimension et soient alignées correctement */
    display: inline-block;
    width: 90px;
    text-align: right;
}
textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
}
input, textarea {
    /* Afin de s'assurer que tous les champs textuels utilisent la même police
       Par défaut, textarea utilise une police à espacement constant */
    font: 1em sans-serif;

    /* Pour donner la même dimension à tous les champs textuels */
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Pour harmoniser l'apparence des bordures des champs textuels */
    border: 1px solid #999;
}
input:focus, textarea:focus {
    /* Afin de rehausser les éléments actifs */
    border-color: #000;
}

form div + div {
    margin-top: 1em;
}
.button {

    padding-left: 90px;
}

.button {

    margin-left: .5em;
}





#footer{
	width:90%;
	height:9%;
	margin-bottom:1%;
	margin-left:5%;
	margin-right:5%;
	border-radius:40px 40px 40px 40px;
	background-color:rgba(255,255,255,0.3);
	position:relative;
	}
p{
     text-align:center;
}