<!doctype html>
{% load staticfiles %}
<html>
<head>
     <meta charset="utf-8"/>
     <title>biographie</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
     <link rel="stylesheet" href="style.css">

</head>

<body>
<div id="wrap">
	   
<div id="contenu">
     
         <h1> Biographie</h1>
     
	 <div id="article">
<p>
Qu'est ce qui peut égaler le cerveau humain? Petite merveille cachée dans la boite crânienne. Contenant tout un tas d'information, il peut à lui seul balloter l'être humain d'un univers a un autre sans pour autant soulever toute la charpente du corps.
C’est aussi grâce à ce cerveau que l'auteur Jessica Fièvre a pu mainte fois soulever ses lecteurs dans le monde qui se trouve dedans. Son propre monde où elle est l'être suprême, celui doté du pouvoir de création.
</p>
<h2>QUI EST JESSICA FIĖVRE?</h2>
<p>
Jessica Fièvre naît le 29 avril 1981 à Port-au-Prince, fit ses études primaires et secondaires à Sainte Rose de Lima, universitaires a l'UNDH (Université Notre Dame d'Haïti). Vivant depuis 2002 en Floride, où elle entreprit des études en écriture créative à l'université internationale de Floride en 2011.
Et bien avant cela en 2005, a Barry University puis elle déménagea en 2014 à Santa Cruz de la Sierra. À 16 ans, Jessica Fièvre se fait remarquer par la publication d'un premier ouvrage, Le Feu de la vengeance, roman-mystère empreint de réalisme, témoignage d'une Haïti bouleversée après Duvalier.

<br>
Elle fut l’auteur de beaucoup d'autres œuvres qui attirèrent de plus en plus le regard vers elle. En plus de ses romans, Jessica Fièvre est l'auteur de nombreux textes pour de jeunes lecteurs.
Elle publie également des nouvelles en anglais et en français, dans diverses revues américaines. En 2007, elle marque ses dix ans de création littéraire par la publication de deux romans.<br>
Elle poursuit des études en Création Littéraire à la Florida International University. Jessica Fièvre enseigne le français et l'anglais à la Nova Middle School à Davie (près de Miami), et travaille depuis plusieurs années à titre de traductrice et interprète.
Elle est secrétaire de Women Writers of Haitian Descent, Inc., une organisation à but non lucratif établie en Floride pour encourager le développement des femmes-écrivains d'origine haïtienne.<br>
L'œuvre de Jessica Fièvre traduit l'essentiel du réel haïtien à travers un halo de mystère projeté sous le couvert d'un imaginaire exubérant et inavoué.



</p>
	 
	 </div>
</div>

    <div id="contact">

    </div>

<div id="menuTest">
     <ul id="submenu">
		<li id="mo"><span>Menu</span>     
			<ul >
				<li><a href="/jess/biographie" class="current level_2">	<span>Biographie</span></a></li>
				<li><a href="/jess/oeuvres" class="current level_2"><span>oeuvres</span></a></li>
				<li><a href="/jess/evenement" class="current level_2"><span>Evenements</span></a></li>
			</ul>
		</li>
	</ul>
	<ul><li id="mo"><a href="/jess" class="current level_2"> <span>Accueil</span> </a></li></ul>
    <ul><li id="mo"><a href="/jess/contact" class="current level_2"> <span>Contact</span> </a></li></ul>
</div>
   
 </div> 

<footer id="footer">
	<p><center>Jessica FIEVRE, ECRIVAIN, EDITRICE<br>
	HAITI, Renouveau.</center><p>
</footer>


</body>
</html>