<!doctype html>
{% load staticfiles %}
<html>
<head>
     <meta charset="utf-8"/>
     <title>contact</title>
     <link rel="stylesheet" href="style.css">
     <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

</head>

<body>
<div id="wrap">
	   
<div id="contenu">
   <form method="post" action="#" id="form">
       {% csrf_token %}
       {{ form.as_p }}
       <input type="submit" name="ContactForm" value="Send" class="contactbutton">
   </form>
</div>	

    <div id="menuTest">
     <ul id="submenu">
		<li id="mo"><span>Menu</span>     
			<ul >
				<li><a href="/jess/biographie" class="current level_2">	<span>Biographie</span></a></li>
				<li><a href="/jess/oeuvres" class="current level_2"><span>oeuvres</span></a></li>
				<li><a href="/jess/evenement" class="current level_2"><span>Evenements</span></a></li>
			</ul>
		</li>
	</ul>
	<ul><li id="mo"><a href="/jess" class="current level_2"> <span>Accueil</span> </a></li></ul>
     <ul><li id="mo"><a href="/jess/contact" class="current level_2"> <span>Contact</span> </a></li></ul>
</div>
   
 </div> 

<footer id="footer">
	Jessica FIEVRE, ECRIVAIN, EDITRICE<br>
	HAITI, Renouveau.
</footer>


</body>
</html>