<!doctype html>
{% load staticfiles %}
<html>
<head>
     <meta charset="utf-8"/>
     <title>evenement</title>
     <link rel="stylesheet" href="style.css">
     <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

</head>

<body>
<div id="wrap">
	   
<div id="contenu">
     
         <h1> Participation de l'auteur aux differents evenements haitiens</h1>
     
	 <div id="article">
 <h2>Foire internationale du livre d’Haïti</h2>
         <h4>Premiere Edition</h4>
         <p>Du 12 au 15 décembre 2013, le palais municipal de Delmas a accueilli pour sa première édition plusieurs écrivains haïtiens et étrangers , figures incontournables de la littérature contemporaine.
Jessica Fièvre fut l’un de ceux juges les plus lus par la jeunesse et fut choisi pour cet évènement.
Et elle plongea son public dans son monde fictif à travers ses œuvres tels : la bête et thalassophobie.
</p>
	 <h2>Créatrice du concours Fièvre Rouge</h2>
         <h4>Premiere Edition</h4>
             <p>Michèle Jessica Fièvre est éditrice et initiatrice du concours d’écriture nommé « FIEVRE ROUGE » Lancé par la maison d’édition Lominy Books.
Cet événement incite les jeunes a sauté le pas de l’imagination d’histoire à l’oral à celle sur papier et de plus, Jessica leur offre le plaisir, de se voir publie dans le recueil d’histoire a thèmes précis choisis par l’éditrice elle-même et de son équipe.
La première édition fut lance et des centaines de participants se laissèrent entrainer dont 15 d’entre eux furent publiés dans le recueil d’histoires : ‘FAIS MOI PEUR’
</p>
         <ul>
             <li>
                 <center><img src="{%static "images/f1.jpg" %}" alt="Fais moi peur"  style="width:120px;height:180px;"/></center>
             </li>
             <li>
                <center><img src="{%static "images/f1.1.jpg" %}" alt="Fais moi peur"  style="width:120px;height:180px;"/></center>
             </li>
         </ul>
          <h4>Premiere Edition</h4>
<p> La deuxieme edition du concours attira de plus en plus de jeunes. Jessica, continue à sensibiliser les jeunes du pays et
dans la majorite des villes ou elle passe. Ce deuxieme concours fut lui aussi un succes</p>

<center><img src="{%static "images/f2.jpg" %}" alt="Histoires Etranges"  style="width:120px;height:180px;"/></center>
</div>
</div>	

    <div id="menuTest">
     <ul id="submenu">
		<li id="mo"><span>Menu</span>     
			<ul >
				<li><a href="/jess/biographie" class="current level_2">	<span>Biographie</span></a></li>
				<li><a href="/jess/oeuvres" class="current level_2"><span>oeuvres</span></a></li>
				<li><a href="/jess/evenement" class="current level_2"><span>Evenements</span></a></li>
			</ul>
		</li>
	</ul>
	<ul><li id="mo"><a href="/jess" class="current level_2"> <span>Accueil</span> </a></li></ul>
    <ul><li id="mo"><a href="/jess/contact" class="current level_2"> <span>Contact</span> </a></li></ul>
</div>
   
 </div> 

<footer id="footer">
	Jessica FIEVRE, ECRIVAIN, EDITRICE<br>
	HAITI, Renouveau.
</footer>


</body>
</html>