<!doctype html>
{% load staticfiles %}
<html>
<head>
     <meta charset="utf-8"/>
     <title>oeuvres</title>
     <link rel="stylesheet" href="style.css">
     <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

</head>

<body>
<div id="wrap">
	   
<div id="contenu">
     
    <h1> Oeuvres de l'auteur</h1>


    <center><img src="{%static "images/img.jpg" %}" alt="Sortilège Haïtien" title="Manon personnage principal du roman fut sauvée par une sirène du nom de Castera
    alors qu'elle n'avait que 3 ans pour echapper échapper à Jacques qui la poursuivait après s’être pris à Granmè pour de l’argent. Ensuite on retrouve Manon au centre de repos pour se calmer les nerfs et permettre au rumeur de se tasser par rapport a la mort de Bérénice, une amie de sa mère, Bettina considérée comme une pute de luxe à Pétion-Ville.
     Enfin, Manon allait se fiancer a Etienne, qui lui était un proche du président, un apprenti dictateur.  "  style="width:400px;height:550px;"/></center>


    <a href="/jess/oeuvres">
<img src="{%static "images/back.jpg" %}" alt="back" title="" style="width:20px;height:20px"/>
</a>
</div>	

    <div id="menuTest">
     <ul id="submenu">
		<li id="mo"><span>Menu</span>     
			<ul >
				<li><a href="/jess/biographie" class="current level_2">	<span>Biographie</span></a></li>
				<li><a href="/jess/oeuvres" class="current level_2"><span>oeuvres</span></a></li>
				<li><a href="/jess/evenement" class="current level_2"><span>Evenements</span></a></li>
			</ul>
		</li>
	</ul>
	<ul><li id="mo"><a href="/jess" class="current level_2"> <span>Accueil</span> </a></li></ul>
     <ul><li id="mo"><a href="/jess/contact" class="current level_2"> <span>Contact</span> </a></li></ul>
</div>



 </div>


<footer id="footer">
	Jessica FIEVRE, ECRIVAIN, EDITRICE<br>
	HAITI, Renouveau.
</footer>



</body>
</html>