<!doctype html>
{% load staticfiles %}
<html>
<head>
     <meta charset="utf-8"/>
     <title>JessicaHome</title>
     <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />


</head>

<body>
<div id="wrap2">
	<div id="contenu1">
		<div id="titre">
			<header>
			 <h2>Bienvenue dans le monde de:</h2>
			</header>
		 </div>
		 
		<div id="nom">
			<h1>Jessica Fievre</h1>
		</div>
			
			
		</div>

    <div id="menuTest">
     <ul id="submenu">
		<li id="mo"><span>Menu</span>     
			<ul >
				<li><a href="/jess/biographie" class="current level_2">	<span>biographie</span></a></li>
				<li><a href="/jess/oeuvres" class="current level_2"><span>oeuvres</span></a></li>
				<li><a href="/jess/evenement" class="current level_2"><span>evenements</span></a></li>
			</ul>
		</li>
	</ul>
	<ul><li id="mo"><a href="/jess" class="current level_2"> <span>Accueil</span> </a></li></ul>
    <ul><li id="mo"><a href="/jess/contact" class="current level_2"> <span>Contact</span> </a></li></ul>
</div>
   
 </div> 

<footer id="footer">
	<center>Jessica FIEVRE, ECRIVAIN, EDITRICE<br>
	HAITI, Renouveau.</center>
</footer>


</body>
</html>