<!doctype html>
{% load staticfiles %}
<html>
<head>
     <meta charset="utf-8"/>
     <title>oeuvres</title>
     <link rel="stylesheet" href="style.css">
     <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

</head>

<body>
<div id="wrap">
	   

     
         <h1> Oeuvres de l'auteur</h1>
	 <div id="gallery">
         <ul>
             <li>
                 <a href="/jess/img" title="">
                     <img src="{%static "images/img.jpg" %}" alt="" style="width:120px;height:180px;"/>
                 </a>
             </li>
             <li>
                 <a href="/jess/img1" title="">
                     <img src="{%static "images/img1.jpg" %}" alt="Le Feu de la Vengeance" style="width:120px;height:180px;"/>
                 </a>
             </li>
             <li>
                 <a href="/jess/img2" title="">
                     <img src="{%static "images/img2.jpg" %}" alt="La Bete 2 Metamorphose" style="width:120px;height:180px;"/>
                 </a>
             </li>
             <li>
                 <a href="/jess/img3" title="">
                     <img src="{%static "images/img3.jpg" %}" alt="La Bete" style="width:120px;height:180px;"/>
                 </a>
             </li>
             <li>
                 <a href="/jess/img4" title="La Statuette Malefique">
                     <img src="{%static "images/img4.jpg" %}" alt="" style="width:120px;height:180px;"/>
                 </a>
             </li>
             <li>
                 <a href="/jess/img5" title="">
                     <img src="{%static "images/img5.jpg" %}" alt="Les Hommes en Rouge" style="width:120px;height:180px;"/>
                 </a>
             </li>
             <li>
                 <a href="/jess/img6" title="">
                     <img src="{%static "images/img6.jpg" %}" alt="Thalassophobie" style="width:120px;height:180px;"/>
                 </a>
             </li>
         </ul>

	 
<a href="http://www.amazon.com/s/ref=sr_gnr_fkmr0?rh=i%3Aaps%2Ck%3Ajessica+Fievre&keywords=jessica+Fievre&ie=UTF8&qid=1429488191" target="_blank">Lien de vente en ligne</a>
</div>	

    <div id="menuTest">
     <ul id="submenu">
		<li id="mo"><span>Menu</span>     
			<ul >
				<li><a href="/jess/biographie" class="current level_2">	<span>Biographie</span></a></li>
				<li><a href="/jess/oeuvres" class="current level_2"><span>oeuvres</span></a></li>
				<li><a href="/jess/evenement" class="current level_2"><span>Evenements</span></a></li>
			</ul>
		</li>
	</ul>
	<ul><li id="mo"><a href="/jess" class="current level_2"> <span>Accueil</span> </a></li></ul>
     <ul><li id="mo"><a href="/jess/contact" class="current level_2"> <span>Contact</span> </a></li></ul>
</div>
   
 </div> 

<footer id="footer">
	Jessica FIEVRE, ECRIVAIN, EDITRICE<br>
	HAITI, Renouveau.
</footer>


</body>
</html>